html {
    box-sizing: border-box;
  }
  *,
  ::before,
  ::after {
    box-sizing: inherit;
  }
  
body {background-color: #FAFAFA;
font-family: 'Montserrat', sans-serif;
font-weight: 300;
color: #8B8B8B;
font-size: 16px;} 

.wrapper {padding: 20px;}

h1 {font-weight: 500; 
font-size: 28px;
color: #000000;
margin: 40px 0 40px 0;
}

h1::after{content: ""; display: block; width: 60px; height: 2px; background-color: #407BFF;
margin: auto;
margin-top: 10px;}

h2 {font-weight: 500;
font-size: 16px;
color: #000000;
margin-bottom: 15px;
margin-top: 60px;}

.banner-img {max-width: 350px;
margin: auto;
}

.banner-text {max-width: 460px;
margin: auto;
text-align: center;
margin-bottom: 30px;}

.buttons {display: flex; max-width: 220px;
flex-wrap: wrap; 
margin: auto;
text-align: center;}

.button {margin: auto;
margin-bottom: 10px; 
border-radius: 20px;
padding: 10px 30px;
height: 40px;
text-decoration: none;
font-size: 14px;}

.button-dobrodruzstvi {background-color: #407BFF;
color: white}

.button-plaz {background-color: #8B8B8B;
color:white;}


/*sekce 1 a 2 mobile */

.section {max-width: 460px;
margin: auto;}

.obsah-sekce {text-align: center;}

.boxy {display: flex; flex-wrap: wrap;
margin-top: 30px; 
margin-bottom: 60px;
}

.box {flex-grow: 1; flex-basis: 100%;
    flex-shrink: 1;
display: flex;
padding: 20px;
border-radius: 20px;
background-color: white; 
height: 80px;
font-size: 13px; 
box-shadow: #407BFF1F 0px 4px 6px;}

.box-obsah {margin-left: 25px;}

.box-palma,
.box-slunecnik,
.box-kaktus,
.box-mapa {margin-bottom: 15px;}

/*tablet version*/

@media screen and (min-width: 640px) { 

 .banner-img {max-width: 400px;}
 .banner-text {max-width: 550px;}

 .buttons {display: flex;
    flex-wrap: nowrap;
    max-width: 435px;}

  
    .box {display: flex; flex-wrap: wrap;
      text-align: center; 
      flex-basis: calc((100% - 40px)/3);
      flex-shrink: 0;
      flex-grow: 0;
      height: 190px;}
      .box img {margin:auto;}
  
      .boxy { flex-wrap: nowrap; justify-content: space-between;}
  
      .boxy,
      .obsah-sekce {flex: 0 0 calc((100%-60px)/2);}
      .box-obsah {margin: auto;}
  


 }


 @media screen and (min-width: 1100px) {
    .wrapper {max-width: 1200px; margin: auto; margin-top: 60px;}
    .banner {display: flex; }
    .banner-left {order: 1;}
    .banner-img {order: 2; margin-left: 95px;}
    .banner-text {text-align: left;}
    .buttons {margin-left: 0;}   

    
    
    .section {flex-wrap: nowrap;
    max-width: 100%;
    margin: auto;
    display: flex; 
    justify-content: space-between;
    margin-top: 80px;}
    
    .obsah-sekce {text-align: left;}
    .boxy-sekce1 {order: 1; }
    .obsah-sekce1 {order:2;}

    .box {display: flex; flex-wrap: wrap;
    text-align: center; 
    flex-basis: calc((100% - 40px)/3);
    flex-shrink: 1;
    height: 190px;}
    .box img {margin:auto;}

    .boxy { flex-wrap: nowrap; justify-content: space-between;}

    .boxy,
    .obsah-sekce {flex-basis: calc((100% - 60px)/2); flex-shrink: 1;}
    .box-obsah {margin: auto;}

    h1::after{margin: 0; margin-top: 10px;}
    




    }
    

    

    
   

 










